@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
    .packages
        &__wrapper
            max-width: 960px
            grid-template: repeat(2, 1fr) / repeat(2, 350px)
            justify-content: center
    .footer
        &__input
            flex-basis: 100%
        &__rights
            grid-column: 1 / 5

@media (max-width: 992px)
    .container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding: 30px 0
        &__search
            margin-left: auto
        &-menu
            padding: 22px 0
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
    .map
        width: 340px
    .newsletter-wrapper
        width: 700px
    .reviews
        &-slider
            &__item
                max-width: 580px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 255px
        &__title
            margin-left: 0
    .packages
        &__wrapper
            max-width: 700px
            column-gap: 10px
            grid-row-gap: 15px
        &__info
            padding: 18px 15px 20px 22px
    .offer-card
        width: 100%
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 40px
        &__input
            flex-basis: 49%
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3
                grid-column: span 5
            &-form
                grid-row: 4
                grid-column: span 5
        &__rights
            grid-column: 1 / 7
            margin: 26px 0 0 0

@media (max-width: 768px)
    .container
        max-width: 700px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &__mobile
            &--fixed
                position: fixed
                top: 0
                left: 0
                right: 0
                z-index: 99
        &__search, &__user
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex
        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none
            position: fixed
            top: 78px
            left: 0
            right: 0
            bottom: 0
            padding-top: 30px
            &--visible
                display: block
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &--mobile
                    &--visible
                        display: block
    .menu
        &-button
            width: 16px
            height: 11px
            padding: 0
            border: none
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-top: 10px
                margin-left: 0
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin: 10px 0 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
        &-right
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        width: 100%
        &-wrapper
            max-width: 700px
            width: 92%
            align-items: flex-start
            flex-direction: column
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__button
                top: 32px
                &--prev
                    margin-left: -65px
                    left: 50%
                    transform: translate(-50%,0)
                &--next
                    margin-right: -65px
                    right: 50%
                    transform: translate(50%,0)
        &__title
            font-size: 30px
            line-height: 38px
    .activities
        padding: 40px 0 60px
    .card
        width: 49%
        height: 255px
    .packages
        &__wrapper
            grid-template: repeat(3, 1fr) / minmax(200px, 600px)
            justify-content: center
        &__double-card
            max-width: 600px
        &__card
            grid-column: span 2
            max-width: 600px
        &__offer
            max-width: 600px
        &__info
            max-width: 600px
        &__new-pricetag
            font-size: 20px
    .offer-info
        padding: 26px 12px 15px 20px
        &__title
            margin-bottom: 17px
        &__text
            margin-bottom: 15px
    .footer
        &__input
            flex-basis: 100%

@media (max-width: 576px)
    .logo
        width: 99px
    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 210px
    .newsletter
        padding: 76px 0 83px
        &__title
            margin-bottom: 37px
    .subscribe
        width: 100%
    .reviews
        &__title
            margin-bottom: 42px
            font-size: 18px
            line-height: 23px
    .card
        width: 100%
        grid-column: 1 / 2
    .packages
        &__wrapper
            grid-template: minmax(200px, 670px) / minmax(200px, 800px)
            justify-content: center
        &__title
            font-size: 25px
            line-height: 35px
            margin: 0 0 45px
        &__new-pricetag
            font-size: 22px
        &__double-card
            display: none
        &__info
            min-height: 650px
            &-text
                margin-bottom: 8px
    .double-card
        display: block
        grid-column: span 2
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 30px
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__additional
            grid-row: 4
            grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__form
            &-sender
                flex-direction: column-reverse
                align-items: start
        &__info
            margin-bottom: 15px
        &__rights
            grid-column: 1 / 5
            flex-direction: column
            margin: 0
            &-ul
                margin-bottom: 10px
            &-item
                font-size: 11.5px
                line-height: 12px
